@use "sass:math";
@use "functions" as *;
@use "variables" as *;
@use "lerp" as *;

@include setup;

body {
  background-color: color(eerie-black);
  position: relative;
  padding: 62px 24px 24px;
  @media (min-width: $tablet) {
    padding: 50px 0 0 39px;
  }
  @media (min-width: $desktop) {
    padding: lerp($desktop, 50px, 1440px, 102px) 0 0
      lerp($desktop, 39px, 1440px, 165px);
  }
  @media (min-width: 1440px) {
    padding: 102px 0 0 165px;
  }
}

.pod-logo {
  display: block;
  margin-inline: auto;
  margin-bottom: 57px;
  @media (min-width: $tablet) {
    margin-inline: 0;
    margin-bottom: 152px;
  }
  @media (min-width: $desktop) {
    margin-bottom: lerp($desktop, 152px, 1440px, 103px);
  }
  @media (min-width: 1440px) {
    margin-bottom: 103px;
  }
}

.content__host-image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 0.1;
  @media (min-width: $tablet) {
    opacity: 1;
    width: 491px;
    height: 767px;
  }
  @media (min-width: $desktop) {
    top: 130px;
    width: 888px;
    height: 640px;
  }
}

.content {
  @media (min-width: $tablet) {
    background-color: color(eerie-black);
    padding-top: 93px;
    max-width: 635px;
  }
  @media (min-width: $desktop) {
    padding-top: 88px;
    max-width: 723px;
  }
}

.content__heading {
  @include setFont(rem(26px), 38, 400);
  color: color(medium-aquamarine);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: em(16px, 26px);
  @media (min-width: $tablet) {
    @include setFont(rem(48px), 56);
    text-align: left;
    margin-bottom: em(31px, 48px);
  }
  @media (min-width: $desktop) {
    @include setFont(rem(52px), 62, 400);
    margin-bottom: em(24px, 52px);
  }
}

.heading__emphasis {
  font-style: normal;
  color: color(white);
}

.content__paragraph {
  @include setFont(rem(15px), 25, 400);
  color: color(periwinkle);
  text-align: center;
  max-width: 450px;
  margin-inline: auto;
  margin-bottom: em(33px, 15px);
  @media (min-width: $tablet) {
    @include setFont(rem(18px), 28);
    text-align: left;
    max-width: 445px;
    margin-bottom: em(40px, 18px);
    margin-left: 0;
  }
}

.content__bottom-section {
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.content__partner-logos {
  margin-inline: 6px;
  max-width: 450px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: rem(48px);
  @media (min-width: $tablet) {
    margin: 0 99px 1px 0;
    max-width: 536px;
  }
}

.partner-logos__spotify {
  width: rem(56px);
  height: rem(17px);
  @media (min-width: $tablet) {
    width: rem(96px);
    height: rem(29px);
  }
}

.partner-logos__apple {
  width: rem(45px);
  height: rem(17px);
  @media (min-width: $tablet) {
    width: rem(78px);
    height: rem(29px);
  }
}

.partner-logos__google {
  width: rem(73px);
  height: rem(11px);
  @media (min-width: $tablet) {
    width: rem(125px);
    height: rem(18px);
  }
}

.partner-logos__pocket {
  width: rem(77px);
  height: rem(15px);
  @media (min-width: $tablet) {
    width: rem(129px);
    height: rem(26px);
  }
}

.content__form {
  position: relative;
  @media (min-width: $tablet) {
    background-color: color(japanese-indigo);
    border: 5px solid color(japanese-indigo);
    border-radius: 28px;
    max-width: rem(427px);
    margin-bottom: rem(64px);
    font-size: 0;
  }
}

.form__input {
  @include setFont(rem(14px), 28, 400);
  display: block;
  width: 100%;
  //   max-width: rem(450px);
  margin-inline: auto;
  padding: em(9px, 14px) em(32px, 14px);
  border: 0;
  border-radius: 28px;
  &:focus {
    outline: 0;
  }
  @media (min-width: $tablet) {
    max-width: none;
  }
}

.input--email-field {
  background-color: color(japanese-indigo);
  color: color(white);
  margin-bottom: em(16px, 14px);
  &:placeholder-shown {
    color: hsla(0, 0%, 100%, 0.5);
  }
  @media (min-width: $tablet) {
    max-width: em(255px, 14px);
    display: inline-block;
    margin: 0;
  }
}

.input--submit-button {
  text-align: center;
  background-color: color(medium-aquamarine);
  color: color(eerie-black);
  box-shadow: 0px 25px 20px -20px hsla(157, 74%, 62%, 0.498);
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out;
  &:hover {
    background-color: hsl(157, 100%, 85%);
    box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.2);
  }
  @media (min-width: $tablet) {
    position: absolute;
    right: 0;
    display: inline-block;
    max-width: em(162px, 14px);
  }
}

.dots {
  display: none;
  position: absolute;
  bottom: 0;
  left: 30px;
  z-index: -1;
  @media (min-width: $tablet) {
    display: block;
  }
  @media (min-width: $desktop) {
    left: auto;
    right: 0;
    bottom: 78px;
  }
}

.form__error {
  @include setFont(rem(12px), 14.28);
  color: hsla(0, 96%, 61%, 1);
  position: absolute;
  top: rem(47px);
  left: rem(32px);
  @media (min-width: $tablet) {
    position: absolute;
    top: auto;
    bottom: rem(-25px);
  }
}
